# ------------------------
# General temp files
# ------------------------
*~
*.swp
*.swo
*.bak
*.tmp

# ------------------------
# OS-specific files
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Script-specific files
# ------------------------
nfpm.yaml